@import "../components/materialize/components/color-variables";

body{
  background-color: color("grey", "darken-4");
  color:color("grey", "lighten-5");
}
nav{
  background-color: color("grey", "darken-4");
}