.errors-debug {
  .alert {
    font-family: monospace, monospace;
    font-size: 1em;
    padding: 10px 15px;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-break: break-all;

    &.alert-danger {
      @extend .red, .accent-1, .grey-text, .text-darken-3;
    }
    &.alert-warning {
      @extend .orange, .accent-1, .grey-text, .text-darken-3;
    }
    &.alert-info {
      @extend .light-blue, .accent-1, .grey-text, .text-darken-3;
    }
    &.alert-success {
      @extend .light-green, .accent-1, .grey-text, .text-darken-3;
    }
  }

  .card {
    .card-title {

      small {
        font-size: 60%;
      }

      pre {
        word-break: break-all;
        max-width:  100%;
        margin: 0;
        overflow: hidden;
        white-space: pre-line;
        font-size: 1.1em;
        line-height: 1.5;
      }
    }
  }
}
